#loaddata {
}
#maincanvas{
  border: 3px solid gray;
  border-radius: 10px;
}

.main-table{
  border: 4px double black;
  border-collapse: collapse;
}

.main-td{
  border: 1px solid black;
}

.select {
  display: inline-block;
}

.row-grey{
  background-color: #bdbdbd;
}

.row-white{
  background-color: white;
}
